APP_HOST=0.0.0.0
APP_PORT=8080

DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/bank_news
POSTGRES_DB=bank_news
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=ml_tasks

SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=1440

SUBSCRIPTION_PRICE=100
SUBSCRIPTION_DAYS=30

MODEL_PATH=models/tfidf_student_v2b.joblib
MODEL_THRESHOLD=0.50
INFERENCE_BATCH_SIZE=128

UPLOAD_DIR=storage/uploads
RESULT_DIR=storage/results
